<div class=" height_100 background_white" ng-cloak>

	<md-content ng-if="categories.length" class="big_gutter center_text marging_b_15">
		<form ng-submit="upload( file )"  layout="column" layout-align="space-around">
			
			<md-input-container class="width_50 center">
				<input  name="file" type="file" file  aria-label="file" />
				
			</md-input-container>

			<h3>Select which category to upload this photo to!</h3>
			<md-input-container class="width_50 center">
			  <md-select ng-model="file.category" placeholder="Select category" required>
			    <md-option ng-value="cat" ng-repeat="cat in categories">{{ cat.name }}</md-option>
			  </md-select>
			</md-input-container>

			<md-input-container class="width_50 center">
				<input class="md-button md-primary md-raised" type="submit" name="Upload" value="Upload" aria-label="Upload">
			</md-input-container>
		</form>

	</md-content>

	
	

	<div>

		<div ng-if="images.length" class="big_gutter center_text marging_b_15">

			<div layout="row" layout-wrap>
				<div ng-repeat="img in images" flex-gt-sm="33" flex="50" class="margin_auto">
					<img class="profile_thumbs"  ng-src="{{ img.thumbUrl }}" ng-class="figure_out_size( img )"  >
				</div>
			</div>
			
		</div>
		
	</div>
		
		
	

	<div class="big_gutter center_text ">
		<form ng-submit="create_category()" class=" " layout="column" layout-align="space-around">
			<h3>Create a category</h3>
			
			<md-input-container class="width_50 center">
				<label>Category</label>
				<input ng-model="category.name" name="category.name" type="text" aria-label="category"/>
			</md-input-container>
			<md-input-container class="width_50 center">
				<input class="md-button md-primary md-raised" type="submit" name="Create category" value="Create category" aria-label="Create category">
			</md-input-container>
		</form>

	</div>

	<div class="big_gutter" layout="row" layout-align="space-around">
		<div ng-repeat="cat in categories">
			<md-checkbox  aria-label="Finished?" ng-click="delete_category( cat.id )">
  				{{ cat.name }}
			</md-checkbox>
		</div>
	</div>
	{{ c }}
</div>
