<div class="big_gutter center_text">
	<form ng-submit="send_message()" name="contact_form" layout="column" layout-align="center center" novalidate>

		<md-input-container md-no-float>
			<input type="email" name="email" placeholder="Your email" ng-model="form.email" class="min_width_500 white_placeholder" required>

			<div ng-messages="contact_form.email.$error">
				<div ng-message="required">Required</div>
			</div>
		</md-input-container>

		<md-input-container md-no-float>
			<textarea class="min_width_500" aria-label="message" ng-model="form.message" placeholder="Your message"></textarea>

			<div ng-messages="contact_form.email.$error">
				<div ng-message="required">Required</div>
			</div>
		</md-input-container>

		<md-input-container  >
			<input class="md-button md-primary md-raised  center" style="max-width: 80px" type="submit" aria-label="submit" name="submit-form" value="Send">
		</md-input-container>

	</form>

</div>