<script>

    window.init_fb = function( id ){
        window.isLoaded = false;
        window.fbAsyncInit = function() {
            FB.init({
            appId            : id,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
        window.fbReady( FB )
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    }
    
</script>
<md-sidenav md-component-id="left" class="md-sidenav-left background_white">
	<div  layout="column" layout-align="space-around">
		<div class="font_1_75" style="margin-top: 6px;line-height: 36px;" ui-sref="home">Alan Rowell</div>
		<md-button ng-click="view_category( cat.id )" ng-repeat="cat in categories">{{ cat.name }}</md-button>
	</div>
</md-sidenav>

<md-button ng-if="$mdMedia('xs')" ng-click="openLeftMenu()"><i class="material-icons ">menu</i></md-button>

<div ng-if="$mdMedia('gt-xs')" class="marging_b_15 background_white" layout="row" layout-align="space-around end">
	<div >
		<md-button class="large_font transtlate_y_11" ui-sref="home">
			Alan Rowell
		</md-button>
	</div>
	<md-button 	class="transtlate_y_5 no_margin no_padding large_font" 
				ng-click="view_category( cat.id )" 
				ng-repeat="cat in categories">
				{{ cat.name }}
	</md-button>
</div>