<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <title></title>
    <link rel="shortcut icon" href="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/angular-material/angular-material.css' />
    <link rel="stylesheet" href="/ng-alertify/dist/ng-alertify.css">
    <!-- Dependencies -->
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/ng-alertify/dist/ng-alertify.js"></script>


    <!-- Angular app stuff -->
    
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/static-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/admin-controller.js"></script>

    
  </head>
  <body>
    <div ui-view="nav"></div>
    <div ui-view="body"></div>
  </body>
</html>
