<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Alan Rowell Photography Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/media.css' />
    <link rel='stylesheet' href='/angular-material/angular-material.css' />
    <link rel="stylesheet" href="/ng-alertify/dist/ng-alertify.css">
    <link rel="stylesheet" href="/angular-loading-bar/build/loading-bar.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Dependencies -->
    <script
        type="text/javascript"
        
        src="//assets.pinterest.com/js/pinit.js"
    ></script>
    <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
          crossorigin="anonymous">              
    </script>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/ng-alertify/dist/ng-alertify.js"></script>
    <script type="text/javascript" src="/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/angular-masonry/angular-masonry.min.js"></script>


    <!-- Angular app stuff -->
    
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/nav-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/static-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/admin-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/category-controller.js"></script>

    
  </head>
  <body>
    <div ui-view="nav" class="background_white"></div>
    <div ui-view="body"></div>
  </body>
</html>
