<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Alan Rowell Photography Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/media.css' />
    <link rel='stylesheet' href='/angular-material/angular-material.css' />
    <link rel="stylesheet" href="/ng-alertify/dist/ng-alertify.css">
    <link rel="stylesheet" href="/angular-loading-bar/build/loading-bar.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Dependencies -->
    <script>
        window.pAsyncInit = function() {
            PDK.init({
                appId: "4947158995956672812", // Change this
                cookie: true
            });
        };

        (function(d, s, id){
            var js, pjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://assets.pinterest.com/sdk/sdk.js";
            pjs.parentNode.insertBefore(js, pjs);
        }(document, 'script', 'pinterest-jssdk'));
    </script>


    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/ng-alertify/dist/ng-alertify.js"></script>
    <script type="text/javascript" src="/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/angular-masonry/angular-masonry.min.js"></script>


    <!-- Angular app stuff -->
    
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/nav-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/static-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/admin-controller.js"></script>
    <script type="text/javascript" src="/javascripts/angular-controllers/category-controller.js"></script>

    
  </head>
  <body>
    
    <div ui-view="nav" class="background_white"></div>
    <div ui-view="body"></div>


  </body>
</html>
