<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- Dependencies -->
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="/angular-material/angular-material.js"></script>

    <!-- Angular app stuff -->
    <script type="text/javascript" src="/javascripts/angular-app.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ui-view></div>
  </body>
</html>
