<md-dialog  class="display_image transparent"  aria-label="List dialog" >
  <md-dialog-content class="display_image" style="overflow: hidden;">
    

    <div class="wrap">
	    <img class="display_image" ng-src="{{ image.fullSizeUrl }}"  ng-click="show_menu( this, $event )" />
        <!-- <div class="pos_abs overlay_button full_trans">
        	 <a ng-href="http://www.pinterest.com/pin/create/button/" 
		        data-pin-do="buttonPin" 
		        data-pin-tall="true"
		        data-pin-custom="true"
		        data-pin-url="{{ image.fullSizeUrl }}"  data-pin-media="{{ image.fullSizeUrl }}"
		        >
		        <img style="width:35px;" class="margin_t_10" src="https://s3.eu-west-1.amazonaws.com/als-portfolio/static/pinterest-icon-black-and-white.png">
		            
		    </a>
		    
        </div> -->

	    <div class="pos_abs overlay_button_bottom full_trans">
	    	<md-button ng-click="close_dialog()">
	    		<md-icon><i class="material-icons white_text">close</i></md-icon>
	    	</md-button>
	    </div>
	</div>
    
  </md-dialog-content>
  

	        
</md-dialog>