<md-dialog  class="display_image transparent"  aria-label="List dialog" >
  <md-dialog-content class="display_image" style="overflow: hidden;">
    

    <div class="wrap">
	    <img class="display_image" ng-src="{{ image.fullSizeUrl }}"  ng-click="show_menu( this, $event )" />
        

	    <div class="pos_abs overlay_button_right start_invis full_trans">
	    	<md-button ng-click="close_dialog()">
	    		<md-icon><i class="material-icons white_text">close</i></md-icon>
	    	</md-button>
	    </div>
	</div>
    
  </md-dialog-content>
  

	        
</md-dialog>