<md-dialog  class="display_image transparent"  aria-label="List dialog" >
  <md-dialog-content class="display_image" style="overflow: hidden;">
    

    <div class="wrap">
	    <img ng-cloak class="display_image" ng-src="{{ url }}"  ng-click="show_menu( this, $event )" />
        
        <div class="pos_abs overlay_button_right full_trans">
	    	<a href="#" ng-click="fb_share( image.fullSizeUrl )">
                <img style="width:35px;" src="https://s3.eu-west-1.amazonaws.com/als-portfolio/static/black_fb_share.jpg?">
            </a>
        </div>

	    <div class="pos_abs overlay_button_right start_invis full_trans">
	    	<md-button ng-click="close_dialog()">
	    		<md-icon><i class="material-icons white_text">close</i></md-icon>
	    	</md-button>
	    	
	    </div>
	</div>
    
  </md-dialog-content>
  

	        
</md-dialog>