<div ng-show="finis"  id="container" masonry load-images="true" reload-on-show masonry-options="{'gutter': 15,'horizontalOrder': 'true' }">
   	<div class="grid-sizer"></div>
   	<div class="masonry-brick pos_rel " ng-repeat="img in images2" ng-init="$last && complete()">

       <img  ng-src="{{ img.thumbUrl }}" class="pointer" alt="{{ img.tag }}" data-pin-url="https://als-portfolio.herokuapp.com"  data-pin-media="{{ img.fullSizeUrl }}" ng-click="open_image( img )">
       
       
   	</div>
</div>