body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF; 
}

a {
  color: #00B7FF; 
}

.background_white{
    background-color: #FFF !important;
}

.center_text {
  text-align: center !important; }

.font_1_75 {
  font-size: 1.75em; }

.big_gutter {
  min-width: 75% !important;
  max-width: 75% !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}


.cred_gutter {
  min-width: 50% !important;
  max-width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}

.heigth_100{
    height: 100% !important;
    min-height: 100% !important;\
}

.width_50 {
  width: 50% !important; 
}

.center {
  margin: auto;
  padding: 10px; 
}

.marging_b_15{
    margin-bottom: 15px !important;
}


@media ( min-width: 600px ) {
    .show_on_small{
        display: none !important;
    }
}

@media ( max-width: 600px ) {
    .show_on_small{
        display: initial !important;
    }
}


.profile_thumbs{
    /*height: 100% !important;*/
    width: 100% !important;
}