html{
  /*background-color: #FFF; */
  max-width: 100vw;
}

body {
  padding: 50px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'PT Sans', sans-serif;
  /*background-color: #FFF; */
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #00B7FF; 
}

.background_white{
    background-color: #FFF;
}

.white_text{
    color: #FFF;
}

.center_text {
  text-align: center !important; 
}

.center{
  margin: auto;
  padding: 10px; 
}

@media( min-width: 600px ) {
    .center_big{
        margin:auto;
        padding: 10px;
    }
}

.light_blue_background{
  background-color: #3b8ec2 !important;
  color: #FFF;
}

.dark_grey{
    background-color: #d5d6d8;
}

.landscape{
    width: 100%;
}

.large_font{
  font-size: large !important;
  font-weight: bold !important;
}

.font_1_75 {
  font-size: 1.75em !important; 
}

.big_gutter {
  min-width: 75% !important;
  max-width: 75% !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}

@media( max-width: 600px ){
    .big_gutter{
        min-width: 98% !important;
        max-width: 98% !important;
        margin-left: auto !important;
        margin-right: auto !important; 
    }
}


.cred_gutter {
  min-width: 50% !important;
  max-width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important; 
}

.height_100{
    height: 100% !important;
    /*min-height: 100% !important;\*/
}

.height_50{
    height: 50px;
}

.no_margin{
  margin: 0px !important;
}

.no_padding{
  padding: 0px !important;
}

.width_100{
    width: 100% !important;
}

.width_50 {
  width: 50% !important; 
}

@media( min-width: 600px ){
    .width_50_big{
        width: 50% !important;
    }
}

.md-open-menu-container{
    min-width: 200px;
}

.max_width_100{
  max-width: 100% !important;
}

.max_width_90{
    max-width: 90% !important;
}

.height_100vh{
    height: h
}

.max_height_90vh{
    max-height: 90vh;
}

.md-dialog{
    overflow: hidden !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.no_scroll{
    overflow: hidden !important;
    overflow-x: hidden;
    overflow-y: hidden;
}
.width_100_vw{
    width: 100vw;
    max-width: 100vw;
}

.width_100{
    width: 100% !important;
}

.max_width_95{
    max-width: 95vw !important;
}

.max_height{
    max-height: 95% !important;
}

.margin_t_15{
  margin-top: 15px;
}

.margin_t_10{
  margin-top: 10px;
}

.margin_t_120{
  margin-top: 120px !important;
}

.padding_t_15{
    padding-top: 15px;
}

.red_border{
  border: 2px solid red !important; 
  padding: 10px !important; 
  border-radius: 25px !important;
}


.marging_b_15{
    margin-bottom: 15px !important;
}

.move_down{
    margin-top: 88px;
}


@media ( min-width: 600px ) {
    .show_on_small{
        display: none !important;
    }
}

@media ( max-width: 600px ) {
    .show_on_small{
        display: initial !important;
    }
}


.profile_thumbs{
    /*height: 100% !important;*/
    /*width: 100% !important;*/
}

.margin_auto{
  margin: auto !important;
}

.overlay {
  margin: 0 auto;
  position: absolute;
  /*top: 0;*/
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  /*width: 100%;*/
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  display: none;
  color: #FFF;
}

.container:hover .overlay {
  opacity: .5;
  display: inline;
}


.container {
  position: relative;
  width: 50%;
}

#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.transtlate_y_5{
  transform: translateY(5px);
}

.transtlate_y_11{
  transform: translateY(11px);
}

.object_fit_cover{
    object-fit: cover;
    object-position: 50% 50%;
}




@media( max-width: 600px ) {
   .masonry-brick { 
        width: 48%; 
        /*margin: 0.1em;*/
    }
    .masonry-brick img { 
         width:100%; 
     } 
}


@media( min-width: 600px ) {
   .masonry-brick { 
        width: 45%; 
        /*margin: 0.1em;*/
    }
    .masonry-brick img { 
         width:100%; 
     } 
}

@media( min-width: 960px ) {
   .masonry-brick { 
        width: 32%; 
        /*margin: 0.1em;*/
    }
    .masonry-brick img { 
         width:100%; 
     } 
}

.masonry-brick {
    margin-bottom: 10px;
}

.pos_rel{
    position: relative;
}

.pos_abs{
    position: absolute;
}

.overlay_button{
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    min-height: 40px;
    transition: .5s ease;
    
}

.overlay_button_bottom{
    bottom: 0;
    right: 0;
    right: 0;
    height: 10%;
    min-height: 40px;
    transition: .5s ease;
    
}


.semi_trans{
    background: rgba(0,0,0,0.18);
}


.full_trans{
    background: rgba(0,0,0,0);
}



/*Try out parallax*/
.parallax{
    background-image: url('https://s3.eu-west-1.amazonaws.com/als-portfolio/38/IMG_5207-01.jpeg');
    /*width: 100vw !important;*/
    /*background: url('http://placekitten.com/g/600/350');*/
    position: fixed;
    left: 0;
    right: 0;
    top: 13%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-bottom: 20px;
}


/*End of parallax*/


.masonry-brick{
  margin-bottom: 25px !important;
}


.big_icon{
    font-size: 4em !important;
}



#image {
    height: 100%;
    /*background: url(wallpaper.jpg) no-repeat center center fixed; */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}


.dialog_size{
    width: 95vw;
    height: 95vh;
}


.wrap {
    height: 100%;
    display: inline-block;
    position: relative;
}

.wrap img + .content {
    position: absolute;
    top: 0;
    left: 0;
}

.transparent{
    background-color: rgba( 0,0,0, .1 );
}



@media (orientation: portrait) {
    .display_image{ 
        /*width: 100%;*/
        min-width: 0px  !important;
        max-width: 100%;
        /*height: 100%;*/
        max-height: 100%;
        overflow: hidden;
    }
}


@media screen and (orientation: landscape) {
    .display_image{ 
       height: 100%;
       max-height: 100%;
       min-width: 0px !important;
       max-width: 100%;
       
       overflow: hidden;
    }
}


.start_invis{
  visibility: hidden;
}


.pointer{
    cursor: pointer;
}